Repository bounswe/bounswe2023group9, pull requests merged in 2023-10, with the labels that each got.

#250 add the first weekly progress report
  reports/lab_report_01.md
Labels: priority: critical, type: documentation, status: completed, size: medium, difficulty: easy

#268 add lab report 2
  reports/lab_report_01.md
  reports/lab_report_02.md
Labels: priority: critical, type: documentation, status: in-review, size: small, difficulty: easy

#273 Backend initial commit
  .gitignore
  project/backend/api/__init__.py
  project/backend/api/admin.py
  project/backend/api/apps.py
  project/backend/api/migrations/__init__.py
  project/backend/api/models.py
  project/backend/api/tests.py
  project/backend/api/views.py
  project/backend/backend/__init__.py
  project/backend/backend/asgi.py
  project/backend/backend/settings.py
  project/backend/backend/urls.py
  project/backend/backend/wsgi.py
  project/backend/database/__init__.py
  project/backend/database/admin.py
  project/backend/database/apps.py
  project/backend/database/migrations/__init__.py
  project/backend/database/models.py
  project/backend/database/tests.py
  project/backend/database/views.py
  project/backend/manage.py
Labels: difficulty: easy, type: implementation

#276 implement apis and models, setup django rest framework
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/backend/settings.py
  project/backend/backend/urls.py
  project/backend/database/admin.py
  project/backend/database/models.py
  project/backend/database/serializers.py
  project/backend/database/tests.py
  project/backend/requirements.txt
Labels: difficulty: challenging, type: implementation, backend

#280 Backend CORS policy fix
  project/backend/backend/settings.py
  project/backend/requirements.txt
Labels: bug, difficulty: moderate, backend

#281 Backend Testing Workflow
  .github/workflows/back-end-test-workflow.yml
Labels: type: repository, difficulty: easy, backend

#300 LAB REPORT #3
  reports/lab_report_03.md
Labels: type: repository, type: documentation

#303 Authentication bug fix
  project/backend/api/tests.py
  project/backend/database/serializers.py
  project/backend/database/tests.py
Labels: bug, status: in-progress, backend

#309 Page with bar
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar.dart
Labels: status: in-review, frontend

#317 implement question and semantic tag models
  project/backend/database/admin.py
  project/backend/database/models.py
Labels: priority: critical, status: needs-review, difficulty: moderate, type: implementation, backend

#312 Profile Page GET API
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/tests.py
Labels: status: needs-review, backend

#316 Backend Home Page GET API implementation
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/tests.py
Labels: backend

#341 Backend Dockerfile and Readme.md
  project/backend/Dockerfile
  project/backend/README.md
Labels: backend

#345 Password change put api
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/serializers.py
Labels: priority: high, size: medium, difficulty: moderate, type: implementation, backend

#343 Implement GET for Node
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/serializers.py
Labels: type: implementation, backend

#350 change profile settings put api
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/serializers.py
Labels: priority: critical, size: medium, difficulty: moderate, type: implementation, backend

#362 Contributor GET API implementation
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: backend

#355 cumulative backend to main
  project/backend/Dockerfile
  project/backend/README.md
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/admin.py
  project/backend/database/models.py
  project/backend/database/serializers.py
  project/backend/database/tests.py
Labels: priority: high, type: enhancement, size: large, difficulty: challenging, type: implementation, type: fix, backend

#370 update frontend/README
  project/FrontEnd/collaborative_science_platform/README.md
Labels: frontend
