Repository bounswe/bounswe2023group9, pull requests merged in 2023-11, with the labels that each got.

#408 add weekly progress report 5
  reports/lab_report_05.md
Labels: type: documentation

#410 Update serializers.py
  project/backend/database/serializers.py
Labels: backend

#417 Search and Profile GET API Update
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: backend

#414 Design of the Graph Page for Mobile
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/web_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
Labels: frontend

#418 fixed issues related with the new file structure
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
Labels: bug, size: small, difficulty: easy, type: fix, frontend

#421 Advanced Routing System
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/please_login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/signup_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/node_cards.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/user_cards.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/app_bar_logo.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/profile_menu.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/profile_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/logout_button.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/mobile_edit_profile_button.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
Labels: priority: high, size: medium, frontend

#426 Request parent model implementation
  project/backend/database/admin.py
  project/backend/database/models.py
  project/backend/database/tests.py
Labels: priority: critical, size: medium, difficulty: moderate, type: implementation, backend

#433 Web Graph page
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/web_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/node_list.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
Labels: priority: critical

#434 app bar routing bug fix
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
Labels: bug, size: small, difficulty: easy, type: fix, frontend

#436 Update lab_report_05.md
  reports/lab_report_05.md
Labels: type: documentation

#455 Update lab_report_06.md
  reports/lab_report_06.md
Labels: bug

#429 Entry Class Implementation
  project/backend/database/models.py
  project/backend/database/tests.py
Labels: priority: medium, size: small, difficulty: moderate, type: implementation, backend

#456 Node to graph navigate
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_button.dart
Labels: priority: medium, type: enhancement, difficulty: easy, frontend

#459 Workspace GET APIs
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/tests.py
Labels: backend

#458 Annotation design
  project/FrontEnd/collaborative_science_platform/ios/Flutter/Debug.xcconfig
  project/FrontEnd/collaborative_science_platform/ios/Flutter/Release.xcconfig
  project/FrontEnd/collaborative_science_platform/ios/Podfile
  project/FrontEnd/collaborative_science_platform/ios/Podfile.lock
  project/FrontEnd/collaborative_science_platform/ios/Runner.xcodeproj/project.pbxproj
  project/FrontEnd/collaborative_science_platform/ios/Runner.xcworkspace/contents.xcworkspacedata
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/models/annotation_text.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/please_login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/signup_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/strong_password_checks.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/web_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_user_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/node_cards.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/user_cards.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/proof_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/questions_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/about_me.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/account_settings_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/profile_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/question_activity.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/annotation_text.dart
  project/FrontEnd/collaborative_science_platform/linux/flutter/generated_plugin_registrant.cc
  project/FrontEnd/collaborative_science_platform/linux/flutter/generated_plugins.cmake
  project/FrontEnd/collaborative_science_platform/macos/Flutter/Flutter-Debug.xcconfig
  project/FrontEnd/collaborative_science_platform/macos/Flutter/Flutter-Release.xcconfig
  project/FrontEnd/collaborative_science_platform/macos/Flutter/GeneratedPluginRegistrant.swift
  project/FrontEnd/collaborative_science_platform/macos/Podfile
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
  project/FrontEnd/collaborative_science_platform/windows/flutter/generated_plugin_registrant.cc
  project/FrontEnd/collaborative_science_platform/windows/flutter/generated_plugins.cmake
Labels: frontend

#462 workspace models are created
  project/FrontEnd/collaborative_science_platform/lib/models/entry.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node_details_page/node.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node_details_page/node_detailed.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/entry.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspaces.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspaces_object.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/node_list.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/node_cards.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/references_list_view.dart
Labels: size: small, difficulty: easy, type: implementation, frontend

#465 AnnotationText Path Fix
  project/FrontEnd/collaborative_science_platform/lib/models/annotation.dart
Labels: bug

#466 error handling in pages
  project/FrontEnd/collaborative_science_platform/lib/exceptions/node_details_exceptions.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/profile_data_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/mobile_home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/profile_page.dart
Labels: frontend

#471 Web workspace page
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node_popup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/mobile_workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/add_reference_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/create_workspace_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/entry_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/send_collaboration_request_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/text_styles.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_button.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_search_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_text_field.dart
Labels: size: large, difficulty: moderate, type: implementation, frontend

#468 Semantic tag with wikidata api
  project/backend/api/tests.py
  project/backend/api/wikidata.py
  project/backend/database/admin.py
  project/backend/database/models.py
  project/backend/database/serializers.py
  project/backend/database/tests.py
  project/backend/requirements.txt
Labels: priority: critical, type: research, size: large, difficulty: challenging, type: implementation, backend

#470 Implementation of various API methods
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: size: small, type: implementation, backend

#490 add weekly report 7
  reports/lab_report_06.md
  reports/lab_report_07.md
Labels: type: documentation

#491 fix indentation and markdown formatting
  reports/lab_report_06.md
  reports/lab_report_07.md
Labels: type: documentation

#495 Milestone Scenarios Added to the Lab Report 7
  reports/lab_report_07.md
Labels: type: repository

#494 Enhance workspace
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/create_workspace_page/mobile_create_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/contributor_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/reference_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/subsection_title.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/add_reference_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/create_workspace_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entry_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/send_collaboration_request_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/mobile_workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/web_workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspaces_page/workspace_page/widgets/entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
Labels: frontend

#498 Workspace backend bug fix
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/tests.py
Labels: bug, backend

#496 configuration of different please login pages and their routing
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/please_login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/please_login_prompts.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/please_login_signup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/logout_button.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
Labels: frontend

#501 Workspace post api update
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/serializers.py
Labels: priority: high, type: documentation, size: large, difficulty: challenging, type: implementation, backend

#500 Workspace GET API Update
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: bug, type: enhancement, size: medium, backend

#504 Basic user getter implementation
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: backend

#487 Semantic and Random search implementation
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: backend

#499 Implement return of random node
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: type: enhancement, backend

#506 further enhancements for workspace pages
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/app_alert_dialog.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/contributor_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/reference_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/subsection_title.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/add_reference_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/create_workspace_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entry_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/send_collaboration_request_form.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_text_field.dart
Labels: frontend

#505 Share item implementation
  project/FrontEnd/collaborative_science_platform/ios/Podfile.lock
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/services/share_page.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/constants.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_button.dart
  project/FrontEnd/collaborative_science_platform/macos/Flutter/GeneratedPluginRegistrant.swift
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
  project/FrontEnd/collaborative_science_platform/windows/flutter/generated_plugin_registrant.cc
  project/FrontEnd/collaborative_science_platform/windows/flutter/generated_plugins.cmake
Labels: priority: high, size: small, difficulty: easy, type: implementation, frontend

#507 List view fix
  project/FrontEnd/collaborative_science_platform/lib/widgets/search_bar_extended.dart
Labels: priority: low, size: medium, difficulty: easy, type: fix, frontend

#511 Implement Latex Renderer
  project/FrontEnd/collaborative_science_platform/android/app/src/main/AndroidManifest.xml
  project/FrontEnd/collaborative_science_platform/ios/Runner/Info.plist
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node_popup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/proof_list_view.dart
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
  project/FrontEnd/collaborative_science_platform/web/index.html
Labels: frontend

#502 provider is implemented for workspace
  project/FrontEnd/collaborative_science_platform/lib/exceptions/workspace_exceptions.dart
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
Labels: priority: medium, size: medium, difficulty: moderate, type: implementation, frontend

#516 FE - basic user model is created
  project/FrontEnd/collaborative_science_platform/lib/models/basic_user.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: size: small, difficulty: easy, type: implementation, frontend

#519 Profile GET API bug fix
  project/backend/api/views.py
Labels: bug, backend

#521 web workspace page enhancements
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspaces.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entry_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/text_styles.dart
Labels: frontend

#522 Add suggestions to node view page
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/please_login_prompts.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_appbar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/suggestion_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/you_may_like.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/search_bar_extended.dart
Labels: frontend

#482 Settings provider
  project/FrontEnd/collaborative_science_platform/lib/providers/settings_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/change_password_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/account_settings_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/change_password_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/settings_input_widget.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
Labels: priority: medium, type: implementation

#524 Backend cumulative pr to main
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/api/wikidata.py
  project/backend/database/admin.py
  project/backend/database/models.py
  project/backend/database/serializers.py
  project/backend/database/tests.py
  project/backend/requirements.txt
Labels: priority: critical, size: large, difficulty: challenging, type: implementation, backend
