Repository bounswe/bounswe2023group9, pull requests merged in 2023-12, with the labels that each got.

#580 lab report 8 added
  reports/lab_report_08.md
Labels: type: documentation

#584 workspace provider is updated
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
Labels: difficulty: moderate, type: fix, frontend

#591 Connect provider to workspace page2
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/reference_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/add_reference_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/create_workspace_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entry_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: priority: high, difficulty: moderate, type: implementation, frontend

#589 Implement Admin API
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/admin.py
  project/backend/database/models.py
Labels: priority: medium, size: medium, difficulty: moderate, type: implementation, backend

#586 Enhance requests
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: priority: medium, type: enhancement, size: large, difficulty: challenging, type: implementation, backend

#587 Security Update
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: backend

#585 Latest, Trending, Most Read and For You Implementation for Home
  project/backend/api/views.py
  project/backend/database/models.py
Labels: backend

#592 fix semantic tag bugs
  project/backend/api/wikidata.py
  project/backend/database/models.py
Labels: bug, priority: critical, type: enhancement, size: medium, difficulty: moderate, type: fix, backend

#594 Created QuestionID is returned after creation.
  project/backend/api/views.py
Labels: backend

#601 Connect provider to workspace page2
  project/FrontEnd/collaborative_science_platform/lib/models/profile_data.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/user_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/send_collaboration_request_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: size: small, difficulty: moderate, type: implementation, frontend

#615 remove forgotten django rest framework methods and classes
  project/annotation_project/annotation_project/settings.py
  project/annotation_project/annotations/admin.py
  project/annotation_project/annotations/serializers.py
  project/annotation_project/annotations/urls.py
  project/annotation_project/annotations/views.py
Labels: bug, priority: critical, size: small, difficulty: easy, type: fix, backend

#610 Workspace
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/mobile_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/contributor_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_header.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/new_entry.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/reference_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/semantic_tag_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/add_reference_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/create_workspace_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/semantic_tag_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/send_collaboration_request_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/card_container.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/search_bar_extended.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/semantic_search_bar.dart
Labels: priority: high, size: medium, difficulty: challenging, type: implementation, frontend

#618 Privacy policy
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/signup_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/privacy_policy_form.dart
Labels: priority: medium, size: small, difficulty: easy, frontend

#619 User Type added to USER GET
  project/backend/api/views.py
Labels: backend

#625 Implement user conversion
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: priority: high, difficulty: challenging, type: implementation, backend

#631 Comments field added to Workspace GET API
  project/backend/api/views.py
Labels: backend

#633 Make texts unselectable
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/please_login_signup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details_nav_bar_item.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
Labels: frontend

#616 Implement GET API
  project/annotation_project/annotation_project/urls.py
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/urls.py
  project/annotation_project/annotations/views.py
Labels: priority: medium, size: medium, difficulty: moderate, type: implementation, backend

#634 FE Annotation Implementation
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/models/annotation.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/annotation_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node_popup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_page_node_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/proof_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/text_styles.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/annotation_text.dart
Labels: frontend

#632 Question answer pages
  project/FrontEnd/collaborative_science_platform/lib/exceptions/question_exceptions.dart
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node_details_page/question.dart
  project/FrontEnd/collaborative_science_platform/lib/models/profile_data.dart
  project/FrontEnd/collaborative_science_platform/lib/models/question.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/question_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/answer_box.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/ask_question_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/question_box.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/questions_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/profile_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/change_password_form.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/profile_activity_tabbar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/question_activity.dart
Labels: priority: high, size: large, difficulty: moderate, type: implementation, frontend

#636 Annotations post api
  project/annotation_project/annotation_project/urls.py
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/urls.py
  project/annotation_project/annotations/views.py
Labels: backend

#629 Admin features frontend
  project/FrontEnd/collaborative_science_platform/lib/models/basic_user.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/admin_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/error_page/error_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/confirmation_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/profile_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/about_me.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_button.dart
Labels: priority: critical, size: medium, difficulty: moderate, frontend

#639 Annotations
  project/annotation_project/Dockerfile
  project/annotation_project/annotation_project/__init__.py
  project/annotation_project/annotation_project/asgi.py
  project/annotation_project/annotation_project/settings.py
  project/annotation_project/annotation_project/urls.py
  project/annotation_project/annotation_project/wsgi.py
  project/annotation_project/annotations/__init__.py
  project/annotation_project/annotations/admin.py
  project/annotation_project/annotations/apps.py
  project/annotation_project/annotations/migrations/__init__.py
  project/annotation_project/annotations/models.py
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/urls.py
  project/annotation_project/annotations/views.py
  project/annotation_project/manage.py
  project/annotation_project/requirements.txt
Labels: priority: critical, size: large, difficulty: challenging, type: implementation, backend

#642 Create workspace from a node
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/entry.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details_menu.dart
Labels: size: small, type: implementation, frontend

#640 Backend bugfix
  project/backend/api/tests.py
  project/backend/api/views.py
  project/backend/database/serializers.py
Labels: type: fix, backend

#657 Workspace Bug Fix
  project/backend/api/views.py
Labels: bug, backend

#667 add lab report 10
  reports/lab_report_09.md
  reports/lab_report_10.md
Labels: type: documentation

#670 Implement disproof functionality
  project/backend/api/tests.py
  project/backend/api/views.py
  project/backend/database/models.py
Labels: backend

#668 Update update_content_status
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: type: fix, backend

#669 Get annotation update
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/views.py
Labels: difficulty: moderate, backend

#659 Bug Fix
  project/backend/api/views.py
  project/backend/database/serializers.py
Labels: bug, backend

#673 Semantic tag post api and remove workspace tag put api
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/serializers.py
Labels: priority: critical, size: medium, difficulty: moderate, type: implementation, backend

#677 646 fe home page advanced nodes
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/mobile_home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/select_button.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/select_buttons.dart
Labels: frontend

#678 675 fe share button change app url
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/services/share_page.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/constants.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/responsive/responsive.dart
Labels: frontend

#680 Change name graph to relation
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/web_graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
Labels: frontend

#681 Remove notification page
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/home_page_appbar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/top_navigation_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/services/screen_navigation.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
Labels: frontend

#683 682 fe home page node options bug 1
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/select_buttons.dart
Labels: frontend

#672 disproof API implemented
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
Labels: backend

#687 Related Nodes API implemented.
  project/backend/api/urls.py
  project/backend/api/views.py
Labels: backend

#623 E-Mail Notification Implementation
  project/backend/api/views.py
  project/backend/backend/settings.py
Labels: size: medium, difficulty: moderate, type: implementation, backend

#685 Fix auth token disappears error
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/macos/Flutter/GeneratedPluginRegistrant.swift
  project/FrontEnd/collaborative_science_platform/pubspec.lock
  project/FrontEnd/collaborative_science_platform/pubspec.yaml
Labels: frontend

#686 bug fix for showing multiple proofs
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/proof_list_view.dart
Labels: bug, priority: low

#676 Fe user permissions for review process
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspaces.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspaces_object.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/please_login_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/page_with_appbar/widgets/profile_menu.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/new_entry.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/semantic_tag_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/semantic_tag_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/workspaces_side_bar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/router.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/app_button.dart
Labels: priority: high, size: medium, type: implementation, frontend

#695 user type update
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details_menu.dart
Labels: size: small, difficulty: easy, type: implementation, frontend

#691 Implement delete
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/views.py
Labels: backend

#692 Implementation of E-Mail Notification Triggers
  project/backend/api/views.py
Labels: priority: medium, size: medium, difficulty: moderate, type: implementation, backend

#697 Workspace Bug Fix
  project/backend/api/views.py
Labels: bug, backend

#699 Workspace Bug Fix
  project/backend/api/views.py
Labels: bug, backend

#700 Fix user ban
  project/backend/api/tests.py
  project/backend/api/views.py
Labels: backend

#704 Profile GET API Semantic Tag Update
  project/backend/api/views.py
Labels: backend

#703 Review Request Notification Update
  project/backend/api/views.py
Labels: type: implementation, backend

#710 bug fixed in settings
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/settings_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/change_password_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/account_settings_form.dart
Labels: priority: medium, size: small, difficulty: moderate, type: fix

#709 Fix of Several Bugs
  project/backend/api/views.py
  project/backend/database/serializers.py
Labels: bug, backend

#706 Update hide check
  project/backend/api/views.py
Labels: backend

#693 647 fe you may like return related nodes
  project/FrontEnd/collaborative_science_platform/lib/helpers/select_buttons_helper.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/widgets/select_buttons.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
Labels: frontend

#707 Display review comments
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/comment.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/comments_sidebar.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: priority: medium, size: medium, type: implementation, frontend

#708 update contributors section's visibility
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
Labels: size: small, frontend

#712 Fe entry types
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/entry.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/entry_header.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_entry_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entry_menu.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: size: small, frontend

#718 Privacy policy text
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/signup_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/auth_screens/widgets/privacy_policy_form.dart
Labels: priority: medium, size: small, difficulty: easy, type: design, frontend

#698 Workspace
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/models/profile_data.dart
  project/FrontEnd/collaborative_science_platform/lib/models/semantic_tag.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspace_semantic_tag.dart
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/settings_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/wiki_data_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/profile_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/about_me.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/profile_semantic_tag_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/new_entry.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/semantic_tag_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/semantic_tag_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/semantic_search_bar.dart
Labels: frontend

#717 Fe reset workspace button
  project/FrontEnd/collaborative_science_platform/lib/models/workspaces_page/workspace.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/workspace_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/mobile_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/contributor_card.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/mobile_workspace_page/widget/mobile_workspace_content.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/web_workspace_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/entries_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/web_workspace_page/widgets/references_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/workspace_page/workspaces_page.dart
Labels: frontend

#713 Node view semantic tags
  project/FrontEnd/collaborative_science_platform/ios/Podfile.lock
  project/FrontEnd/collaborative_science_platform/lib/extensions/string_extensions.dart
  project/FrontEnd/collaborative_science_platform/lib/main.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node_details_page/node_detailed.dart
  project/FrontEnd/collaborative_science_platform/lib/models/node_details_page/question.dart
  project/FrontEnd/collaborative_science_platform/lib/models/semantic_tag.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node_popup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/home_page/home_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/contributors_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details_tab_bar.dart
Labels: frontend

#725 fix annotation target selector start error
  project/annotation_project/annotations/models.py
  project/annotation_project/annotations/views.py
Labels: bug, priority: critical, size: small, difficulty: easy, type: fix, backend

#722 Orcid
  project/FrontEnd/collaborative_science_platform/lib/providers/settings_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/profile_page/widgets/account_settings_form.dart
Labels: priority: high, size: small, difficulty: easy, frontend

#711 user semantic tag add/remove implemented
  project/backend/api/tests.py
  project/backend/api/urls.py
  project/backend/api/views.py
  project/backend/database/models.py
  project/backend/database/serializers.py
Labels: backend

#688 Provider for GET and POST annotations
  project/FrontEnd/collaborative_science_platform/lib/models/annotation.dart
  project/FrontEnd/collaborative_science_platform/lib/providers/annotation_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/node_details.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/widgets/proof_list_view.dart
  project/FrontEnd/collaborative_science_platform/lib/utils/constants.dart
  project/FrontEnd/collaborative_science_platform/lib/widgets/annotation_text.dart
Labels: priority: critical, type: implementation, frontend

#724 Get hidden node bug
  project/FrontEnd/collaborative_science_platform/lib/providers/node_provider.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/graph_page.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/graph_page/widgets/graph_node_popup.dart
  project/FrontEnd/collaborative_science_platform/lib/screens/node_details_page/node_details_page.dart
Labels: bug, priority: medium, difficulty: easy, frontend

#728 Solved flutter's bug on web release with some library
  project/FrontEnd/collaborative_science_platform/lib/providers/auth.dart
Labels: type: fix, frontend

#732 BE - Image annotation
  project/annotation_project/annotations/models.py
  project/annotation_project/annotations/tests.py
  project/annotation_project/annotations/views.py
Labels: priority: high, size: medium, difficulty: moderate, type: implementation, backend
